@import "general.css";

#container {
    position: relative;
    display: inline-block;
    border: none;
    font-size: 1rem;
}

fe-select-pill {
    margin-right: 0.5rem;
}

#search-terms {
    background-color: #eee;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.search {
    background: none;
    border: none;
    font-size: 1rem;
    font: inherit;
}

#dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ddd;
    width: 100%;
    padding-top: 3rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

#results li {
    width: 100%;
}

#results button {
    width: 100%;
    padding: 1rem;
    text-align: left;
}

#results button:hover {
    background-color: #bbb;
}

.selected {
    background-color: #bbb;
}

.show {
    display: inherit !important;
}