@import "general.css";

#root-container {
    grid-template-columns: 5rem auto;
    align-items: center;
    width: 100%;
}

#search-container {
    position: relative;
    min-height: 3rem;
    max-width: 100%;
    grid-template-rows: 1fr 0rem;
}

.dropdown {
    position: absolute;
    grid-row: 2;
}

fe-select-pill {
    margin: 0.25rem;
}

#search-terms {
    grid-row: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #eee;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
}

.input-container {
    flex-grow: 1;
    margin: 0.5rem;
}

#search {
    width: 100%;
    background: none;
    border: none;
    font-size: 1rem;
    font: inherit;
}

#options {
    position: relative;
    top: -1rem;
    padding-top: 1.5rem;
    background-color: #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
}

#options li {
    width: 100%;
}

#options button {
    width: 100%;
    padding: 1rem;
    text-align: left;
}

#options button:hover {
    background-color: #ccc;
}

.selected {
    background-color: #ccc;
}

.show {
    display: initial;
}

.forefront {
    z-index: 1;
}