@import "general.css";

.pill {
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    padding: 0.25rem 1rem;
    background-color: #ccc;
    border-radius: 5rem;
    line-height: 1rem;
    align-items: center;
    white-space: nowrap;
    height: 1.5rem;
}

#remove-button {
    margin-left: 0.5rem;
    align-items: center;
}