@import "general.css";

:root {
    font-family: 'Roboto', sans-serif;
}

fe-gmap {
    height: 500px;
    margin-bottom: 2rem;
}

fe-select {
    margin-bottom: 2rem;
}

fe-bound {
    margin-bottom: 1rem;
}

body {
    padding: 2rem;
}

.filters {
    width: 100%;
}